<usersForm (addUser)="optimisticAdd($event)" (addUserPs)="pessimisticAdd()"></usersForm>
<h2>
  List of users
</h2>
<!--<ul>
  <li *ngFor = "let key of usersKeys">{{'user number ' + key + ': ' + users[key].name}}</li>
  <li *ngFor = "let key of usersKeys">{{'user Phone number: ' + users[key].phone_number}}</li>

</ul>-->

<ul class="list-group">
  <li class="list-group-item" *ngFor = "let key of usersKeys">{{'User number ' + key + ':'}}
    <ul>
      <!--<li>{{'Phone number: ' + users[key].phone_number}}</li>-->
      <li>{{'Name: ' + users[key].name}}</li>
    </ul> 
  <button class="btn btn-danger" (click)="deleteMessage(key)">Delete</button>
  <button class="btn btn-info" [routerLink] = "['/users-update-form', key]">Edit</button>  
  </li>
</ul>

