<form [formGroup] = "loginform" (ngSubmit) = "login()">
  <div>
    <label for="user">Username</label>
    <input type="text" name="user" id="user" class="form-control" formControlName="user">
  </div>
  <div>
    <label for="password">Password</label>
    <input type="text" name="password" id="password" class="form-control" formControlName="password">
  </div>
  <div *ngIf = "invalid" class = "alert alert-danger">Invalid username or password</div>
  <input type="submit" value="Login" class="btn btn-primary">
</form>
<div>
  <button class="btn btn-danger" (click) = "logout()">Logout</button>
</div>
