<form [formGroup] = "usrform" (ngSubmit) = "sendData()">
  <div>
    <label for="name">User name</label>
    <input type="text" name="name" id="name" class="form-control" formControlName="name" required onchange="check();">
    <div *ngIf="!usrform.controls.name.valid && (usrform.controls.name.dirty || usrform.controls.name.touched)" class="errors">Please add Name</div>
  </div>  

  <div>
    <label for="phone_number">Phone number</label>
    <input type="text" name="phone_number" id="phone_number" class="form-control" formControlName="phone_number" required>
    <div *ngIf="!usrform.controls.phone_number.valid && (usrform.controls.phone_number.dirty || usrform.controls.phone_number.touched)" class="errors">Please add Phone</div>
  </div>
  <input type="submit" value="Send the user" class="btn btn-primary" [disabled]="!usrform.valid">
</form>
